body {
  font-family: sans-serif;
  color: #2c2c2c;
  margin: 0;
  margin-top: 120px;
}

.content {
  width: 80%;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .content {
    width: 850px;
  }
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #444444;
  margin: 20px 0;
}

p {
  color: #444444;
}

.totalBox {
  background-color: #efefef;
  padding: 30px;
}

.totalBox div {
  margin-bottom: 10px;
}
/* CART: LINE ITEM COMPONENT _____________________________________________________*/
.line_item_link:visited {
  text-decoration: none;
  color: #444444;
}

.line_item_link:hover {
  text-decoration: none;
  color: #5c5c5c;
}

/* SIGN IN  _____________________________________________________*/
.signin-intro {
  width: 50%;
  text-align: center;
  padding: 10px 70px;
  margin: auto;
}
.fbbttn {
  margin-bottom: 30px;
}
.fbbttn div {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}

.ggbttn div {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}

.applbttn div {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}

/* ACCOUNT  _____________________________________________________*/
#edit {
  font-weight: bold;
}

button.submit {
  margin: 0;
  position: absolute;
  left: 30%;
  transform: translate(30%, 30%);
}

.account-intro {
  width: 50%;
  text-align: center;
  padding: 10px 70px;
  margin: auto;
}

.account-body {
  width: 70%;
  text-align: left;
  padding: 10px 70px;
  margin: auto;
}

.contact-info {
  font-family: sans-serif;
  color: #2c2c2c;
  margin-bottom: 5px;
}

.accountLabel {
  display: block;
  color: #000000;
}

input {
  width: 40%;
  color: #2c2c2c;
  padding: 4px 5px;
  margin: 5px;
}

button {
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #3e3b3b;
  padding: 10px 15px;
  margin-top: 10px;
}

button:hover {
  color: #464444;
  background-color: #e9e6e6;
  /* border: 1.5px solid #464444; */
}

#password {
  margin-top: 75px;
}

.internalLink {
  font-weight: bold;
  color: #2c2c2c;
  margin-top: 20px;
}


/* SIGN IN  _____________________________________________________*/
.lineitem_img {
  max-width: 100%;
}

/* CHECKOUT  _____________________________________________________*/

.checkout {
  margin: 0 3rem;
}

.checkout_box{
  border: 1px solid #cacaca;
  padding: 1rem 1rem;
  border-radius: .2rem;
}

@media only screen and (min-width: 600px) {
  .checkout {
    width: 80%;
    margin: 0 auto;
  }
}